.new_photo
  %h1 Your New Photo!

.new_photo_links
  = link_to image_tag(@photo.file_url(:thumb))
  
=link_to "Edit Photo", edit_photo_path, :class => "btn btn-primary"
=link_to "view All Photos", photos_path, :class => "btn btn-primary"
